<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ title.0 }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        $(function() {

            // 检索框文字显示
            $('#search01').focus(function() {
                $('#search01_label').hide();
            });
            $('#search01').blur(function() {
                if ($(this).val().length < 1) {
                    $('#search01_label').show();
                }
            });

            // 日期组件初始化
            $('.datetime-picker').datetimepicker({
                language: 'zh-CN',          //显示中文
                format: 'yyyy-mm-dd',       //显示格式
                minView: "month",           //设置只显示到月份
                initialDate: new Date(),    //初始化当前日期
                autoclose: true,            //选中自动关闭
                todayBtn: true              //显示今日按钮
            });
        });

        // 表单提交请求
        function submitForm(oForm, sMethod, sUrl) {
            oForm.prop('method', sMethod);
            oForm.prop('action', sUrl);

            oForm.submit();
        }
    </script>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <!-- 导航栏 -->
        {% block navi %}
        {% endblock %}

        <!-- 当前位置 -->
        <div class="location">
            <p><span>{{title.0}}</span>&nbsp;>&nbsp;<span>{{title.1}}</span></p>
            <!-- 搜索框 -->
            <div class="input-group">
                <label for="search01" id="search01_label">请输入关键字</label>
                <input type="text" class="form-control" id="search01" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="bar01"></div>
        <!-- 检索/添加 -->
        {% block search %}
        {% endblock %}

        <!-- 操作窗口 -->
        {% block operate %}
        {% endblock %}

        <!-- 检索结果 -->
        {% block result %}
        {% endblock %}

        <!-- 分页 -->
        {% block page %}
        {% endblock %}
    </div>
</body>
</html>