{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript">
        // 导航栏当前页提示
        // $(function() {
        //     var currentPage = $('.location span').first().next().text();
        //     $('.navi .list-group-item:contains(' + currentPage + ')').addClass('active');
        //     $('.navi .list-group-item:contains(' + currentPage + ')').parents('.collapse').addClass('in');
        // });
        $(function() {
            $('.navi .list-group-item').click(function() {
                $('.navi .list-group-item').removeClass('active');
                $(this).addClass('active');

                var contentUrl =$(this).attr('href-url');
                $('#content-iframe').attr('src',contentUrl);
            });
        })
    </script>
{% endblock %}

{% block navi %}
    <div class="container">
        <!-- 标题栏 -->
        <div class="banner">
            <img class="img01" src="/static/image/mark1.png" alt="警徽" />
            <p class="title">天津市公安交通管理局便民专线服务平台</p>
            <p class="user">
                欢迎&nbsp;:&nbsp;<span>{{ request.session.user.dept.supervisor.name }}</span>&nbsp;>&nbsp;<span>{{ request.session.user.dept.name }}</span>&nbsp;>&nbsp;<span>{{ request.session.user.real_name }}</span>
                &nbsp;|&nbsp;<a href="/user/logout">退出</a>
            </p>
        </div>
        <!-- 侧标导航栏 -->
        <div class="navi" >
            <div class="panel-group" id="accordion">
                {% if request.session.authority == 2 or request.session.authority == 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <img src="/static/image/icon01.png" alt="icon01">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                办理事项管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#" href-url="/item/all?title=全部事项&status=0" class="list-group-item">全部事项</a>
                            <a href="#" href-url="/item/all?title=未转办事项&status=1" class="list-group-item">未转办事项</a>
                            <a href="#" href-url="/item/all?title=已转办事项&status=2" class="list-group-item">已转办事项</a>
                            <a href="#" href-url="/item/all?title=办理中事项&status=3" class="list-group-item">办理中事项</a>
                            <a href="#" href-url="/item/all?title=办理中事项&status=8" class="list-group-item">催办事项</a>
                            <a href="#" href-url="/item/all?title=已反馈事项&status=4" class="list-group-item">已反馈事项</a>
                            <a href="#" href-url="/item/all?title=退回重办事项&status=6" class="list-group-item">退回重办事项</a>
                            <a href="#" href-url="/item/all?title=申请延期事项&status=7" class="list-group-item">申请延期事项</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if request.session.authority == 3 or request.session.authority == 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <img src="/static/image/icon01.png" alt="icon01">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">
                                办理事项管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body clearfix">
                            <a href="#" href-url="/item/all?title=全部事项&status=0" class="list-group-item">全部事项</a>
                            <a href="#" href-url="/item/all?title=待接单事项&status=2" class="list-group-item">已转办单事项</a>
                            <a href="#" href-url="/item/all?title=办理中事项&status=3" class="list-group-item">办理中事项</a>
                            <a href="#" href-url="/item/all?title=催办事项&status=8" class="list-group-item">催办事项</a>
                            <a href="#" href-url="/item/all?title=已反馈事项&status=4" class="list-group-item">已反馈事项</a>
                            <a href="#" href-url="/item/all?title=退回重办事项&status=6" class="list-group-item">退回重办事项</a>
                            <a href="#" href-url="/item/all?title=申请延期事项&status=7" class="list-group-item">申请延期事项</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!--{% if request.session.authority == 3 or request.session.authority == 1 %}-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--<h4 class="panel-title">-->
                            <!--<img src="/static/image/icon03.png" alt="icon03">-->
                            <!--<a data-toggle="collapse" data-parent="#accordion"-->
                               <!--href="#collapseThree">-->
                                <!--统计分析-->
                            <!--</a>-->
                        <!--</h4>-->
                    <!--</div>-->
                    <!--<div id="collapseThree" class="panel-collapse collapse">-->
                        <!--<div class="panel-body">-->
                            <!--<a href="#" class="list-group-item">全部3事项3<span class="badge">10</span></a>-->
                            <!--<a href="#" class="list-group-item">未转办3事项3<span class="badge">10</span></a>-->
                            <!--<a href="#" class="list-group-item">已转办3事项3<span class="badge">10</span></a>-->
                            <!--<a href="#" class="list-group-item">办理中3事项3<span class="badge">10</span></a>-->
                            <!--<a href="#" class="list-group-item">已反馈3事项3<span class="badge">10</span></a>-->
                            <!--<a href="#" class="list-group-item">已超时3事项3<span class="badge">10</span></a>-->
                            <!--<a href="#" class="list-group-item">退回重办3事项3<span class="badge">10</span></a>-->
                            <!--<a href="#" class="list-group-item">申请延期3事项3<span class="badge">10</span></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--{% endif %}-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <img src="/static/image/icon04.png" alt="icon04">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour">
                                知识库管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#" href-url="/info/all_show" class="list-group-item">查询内容</a>
                            <a href="#" href-url="/info/detail_show" class="list-group-item">添加内容</a>
                        </div>
                    </div>
                </div>
                {% if request.session.authority == 2 or request.session.authority == 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <img src="/static/image/icon05.png" alt="icon05">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFive">
                                用户管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#" href-url="/user/user" class="list-group-item">人员管理</a>
                            <a href="#" href-url="/user/dept" class="list-group-item">部门管理</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="frame-content">
            <iframe src="/item/all" frameborder="0" width="100%" height="100%" id="content-iframe"></iframe>
        </div>
    </div>
{% endblock %}
