{%extends 'goods/base.html'%}

{%block head%}
	<script type="text/javascript">
		$(function(){
			$(".minus").click(function(){
				var value = parseInt($(".num_show").val());
				if (value > 1) {
					$(".num_show").val(value - 1).blur();
				}
			});

			// 显示数量
			$(".num_show").blur(function(){
				num = parseInt($(this).val());
				storedNum = parseInt($("#stored").val());
				if (isNaN(num)) {
					num = 1;
				}
				if (num > storedNum) {
					num = storedNum;
				} else if (num < 1) {
					num = 1;
				}
				price = parseFloat($(".show_pirze em").text());
				total = price * num;
				$(".total em").text(total.toFixed(2) + "元");
			});
		});

		function goodSAdd(){
			var value = parseInt($(".num_show").val());
			$(".num_show").val(value + 1).blur();
		}

		// 加入购物车
		function addCart(goods_id){
            $.get('/user/is_login/', function(data){
                if (data.is_login) {
                	var num = parseInt($(".num_show").val());
                    $.get("/cart/add", {'goods_id': goods_id, 'num': num}, function(data){
                        if(data.is_add){
                            alert('购买成功');
                            // 改变购物中数量
                            /*
                            $.get('/cart/cart_count', function(data){
								$('.goods_count').text(data.count);
							});*/
							cartCount();
                        }else{
                            alert('购买失败');
                        }
                    });
                } else {
                    location.href = '/user/login/';
                }
            });
        }
	</script>
{%endblock%}

{%block content%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/images/{{goods.pic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.title}}</h3>
			<p>{{goods.describe}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.price}}</em></span>
				<span class="show_unit">单  位：{{goods.unit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<input type="hidden" id="stored" value="{{goods.stored}}"/>
					<a href="javascript:void(0)" onclick="goodSAdd()" class="add fr">+</a>
					<a href="javascript:void(0)" class="minus fr">-</a>
				</div> 
			</div>
			<div class="total">总价：<em>{{goods.price}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:addCart({{goods.id}})" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>
{%endblock%}

{%block right%}
	<div class="r_wrap fr clearfix">
		<ul class="detail_tab clearfix">
			<li class="active">商品介绍</li>
			<li>评论</li>
		</ul>

		<div class="tab_content">
			<dl>
				<dt>商品详情：</dt>
				<dd>{{goods.content|safe}}</dd>
			</dl>
		</div>

	</div>
{%endblock%}

	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>
