{%extends 'goods/base.html'%}

{%block head%}
<script>
    function add_cart(goods_id){
        // 判断是否登录
        $.get('/user/is_login/', function(data){
            if(data.is_login){
                $.get('/cart/add/', {'goods_id': goods_id}, function(data){
                    if(data.is_add){
                        alert('购买成功');
                    }else{
                        alert('购买失败');
                    }
                });
            }else{
                location.href = '/user/login/';
            }
        });
    }
</script>
{%endblock head%}

{%block content%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>
{%endblock%}

{%block right%}
    <div class="r_wrap fr clearfix">
        <div class="sort_bar">
            <a href="/goods/list{{goods_type.id}}_1_1" {%if order == '1'%} class="active" {%endif%}>默认</a>
            <a href="/goods/list{{goods_type.id}}_1_2?desc={{desc}}&price=1" {%if order == '2'%} class="active" {%endif%}>价格</a>
            <a href="/goods/list{{goods_type.id}}_1_3" {%if order == '3'%} class="active" {%endif%}>人气</a>
        </div>

        <ul class="goods_type_list clearfix">
            {%for g in goods%}
            <li>
                <a href="/goods/goods_{{g.id}}"><img src="/static/images/{{g.pic}}"></a>
                <h4><a href="detail.html">{{g.title}}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{g.price}}</span>
                    <span class="unit">{{g.price}}/{{g.unit}}</span>
                    <!--<a href="javascript:add_cart({{g.id}})" class="add_goods" title="加入购物车"></a>-->
                    <a href="javascript:void(0)" class="add_goods" onclick="add_cart({{g.id}})" title="加入购物车"></a>
                </div>
            </li>
            {%endfor%}
        </ul>

        <div class="pagenation">
            {%if goods.has_previous%}
            <a href="/goods/list{{goods_type.id}}_1_{{order}}?desc={{desc}}">首页</a>
            <a href="/goods/list{{goods_type.id}}_{{goods.number|add:-1}}_{{order}}?desc={{desc}}"><上一页</a>
            {%endif%}
            {%if symbol_begin == '1'%}
            <a>...</a>
            {%endif%}
            {%for num in page_range%}
            {%if num == goods.number%}
            <a href="" class="active">{{num}}</a>
            {%else%}
            <a href="/goods/list{{goods_type.id}}_{{num}}_{{order}}?desc={{desc}}">{{num}}</a>
            {%endif%}
            {%endfor%}
            {%if symbol_end == '1'%}
            <a>...</a>
            {%endif%}
            {%if goods.has_next%}
            <a href="/goods/list{{goods_type.id}}_{{goods.number|add:1}}_{{order}}?desc={{desc}}">下一页></a>
            <a href="/goods/list{{goods_type.id}}_{{goods.paginator.num_pages}}_{{order}}?desc={{desc}}">末页</a>
            {%endif%}
        </div>
    </div>
{%endblock%}