<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!-- 目前仅限360急速浏览 webkit:急速  ie-comp:ie兼容模式   ie-stand: ie标准模式 -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/initial.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/account_number.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modle.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/paging.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/darktooltip.css"/>

    <style type="text/css">
        .table_container .search_input select{
            width: 150px;
            height: 24px;
            border-radius: 4px;
            padding-left: 10px;
            background-color: #f9f9f9;
            border: solid 1px #eeeeee;
            margin-right: 10px;
            outline: none;
        }
        /* 模态框 */
        .my-modal-dialog{
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            margin: auto;
            width: 860px;
            height: 758px;
            display: none;
        }

        .my-modal-title{
            text-align: center;
            font-size: 20px;
        }

        .my-modal-body select,input{
            width: 200px;
            height: 30px;
            padding-left: 5px;
            border-radius: 4px;
        }

        .my-modal-body p,
        .my-modal-body-route p{
            text-align: center;
        }

        .my-modal-body table span,
        .my-modal-body-route table span{
            text-align: justify;
            text-align-last:justify;
            display: inline-block;
            width:100px;
            text-align: center;
        }

        .my-modal-body table,
        .my-modal-body tr,
        .my-modal-body td,
        .my-modal-body-route table,
        .my-modal-body-route tr,
        .my-modal-body-route td{
            margin: auto;
            padding: 8px;
            text-align: center;
        }

        .my-modal-body-route td{
            border: 1px solid black;
        }

        .my-modal-footer{
            margin-top: 20px;
            text-align: center;
        }
        .my-modal-footer .btn{
            margin-left: 0px;
        }

        a,a:active,a:visited,a:focus{
            text-decoration: none;
        }

        .pop-up1 .btndiv input,.pop-up1 .btndiv button{
         display: inline-block;
         background-color: #25b4b2;
         border: solid 1px #189694;
         color: #fff;
         margin-left: 160px;
         background: #139b99;
        }

        .table_head .number_word{
        float: right;
        margin-right: 20px;
        }

    </style>
    <title></title>
</head>
<body>
<div class="table_wrapper">
    <div class="table_head">
        <span>路线管理</span>
    </div>
    <div class="table_container">
        <div class="search_input">
            <label for="ss">路线名称</label>
            <form action="/station" method="GET" style="display: inline-block;">
                <input type="text" placeholder="输入路线名称" id="ss" name="search_name" value="{{ search_name }}" />
            </form>
            <span class="find_btn">查询</span>
            <span class="add_account" id="add">新增路线</span>
        </div>
        <!--检索结果-->
        <table class="table_box" id="table_box">
            <thead>
                <tr>
                    <td style="width: 4%">序号</td>
                    <td>路线名称</td>
                    <td>站点数量</td>
                    <td style="width: 200px">操作</td>
                </tr>
            </thead>
            <tbody>
                {% for route in mp.object_list %}
                <tr>
                    <td style="width: 4%">{{ forloop.counter }}</td>
                    <td title="{{ route.route_name }}">{{ route.route_name }}</td>
                    <td title="{{ route.num_station }}">{{ route.num_station }}</td>
                    <td>
                        <button type="button" class="see modify-vehicle-info" style="margin-right: 5px;" onclick="routeModify('{{ route.id }}')">查看</button>
                        <button type="button" class="see modify-vehicle-info" style="margin-right: 5px;" onclick="routeDelete('{{ route.id }}')">删除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pagingToolBar"></div>
    <!--分页-->
    <div id="pageToolbar">
        <div id="Paging_009071537570730115" class="ui-paging-container">
            <ul>
                <a href="/station?page_num=1&search_name={{ search_name }}"><li class="js-page-first js-page-action ui-pager">&lt;&lt;首页</li></a>
                <a href="/station?page_num={{ mp.current_num|add:-1 }}&search_name={{ search_name }}"><li class="js-page-prev js-page-action ui-pager">上一页</li></a>
                {% for num in mp.page_range %}
                    {% if num == mp.current_num %}
                    <a href="/station?page_num={{ num }}&search_name={{ search_name }}"><li class="ui-pager focus">{{ num }}</li></a>
                    {% else %}
                    <a href="/station?page_num={{ num }}&search_name={{ search_name }}"><li class="ui-pager">{{ num }}</li></a>
                    {% endif %}
                {% endfor %}
                <a href="/station?page_num={{ mp.current_num|add:1 }}&search_name={{ search_name }}"><li class="js-page-next js-page-action ui-pager">下一页</li></a>
                <a href="/station?page_num={{ mp.total_pages }}&search_name={{ search_name }}"><li class="js-page-last js-page-action ui-pager">末页&gt;&gt;</li></a>
                <li class="ui-paging-toolbar">
                    <form action="/station" method="GET">
                        <input type="text" class="ui-paging-count" style="font-size: 12px;" name="page_num" value="{{ mp.current_num }}" />
                        <input type="hidden" name="search_name" value="{{ search_name }}" />
                        <span>/&nbsp;{{ mp.total_pages }}</span>
                        <a href="javascript:jump()">跳转</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--模态框-->
<!-- 新增路线 -->
<div class="pop-up add-vehicle my-modal-dialog" {% if modify == 1 %}style="display: block;"{% endif %}>
    <div class="my-modal-title">
        <p>编辑路线</p>
    </div>
    <div class="table_wrapper table_container" style="height: 230px;">
        <table class="table_box add-station">
            <thead>
                <tr>
                    <td style="width: 4%">序号</td>
                    <td>站点名称</td>
                    <td>区域</td>
                    <td>路名</td>
                    <td>备注</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                {% for station in station_list %}
                <tr>
                    <td style="width: 4%">{{ forloop.counter }}</td>
                    <td title="{{ station.station_name }}">{{ station.station_name }}</td>
                    <td title="{{ station.station_area }}">{{ station.station_area }}</td>
                    <td title="{{ station.station_road }}">{{ station.station_road }}</td>
                    <td title="{{ station.station_direction }}">{{ station.station_direction }}</td>
                    <td>
                        <button type="button" class="see modify-vehicle-info" style="margin-right: 5px;" onclick="deleteStation('{{ station.id }}', '{{ forloop.counter }}')">删除</button>
                    </td>
                    <input type="hidden" value="{{ station.id }}">
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="my-modal-body">
        <table>
            <tr>
                <td colspan="2"><p style="padding: 20px;">选择站点</p></td>
            </tr>
            <tr>
                <td><span>路线名称</span></td>
                <td colspan="4">
                    <input type="text" placeholder="请输入路线名称" name="route_name" value="{{ route_name }}">
                </td>
            </tr>
            <tr>
                <td><span>区域</span></td>
                <td>
                    <select name="area" placeholder="区域">
                        <option value="0">选择区域</option>
                        {% for area in area_list %}
                            <option value="{{ area.station_area }}">{{ area.station_area }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><span>路名</span></td>
                <td>
                    <select name="road" placeholder="路名">
                    </select>
                </td>
            </tr>
            <tr>
                <td><span>站点</span></td>
                <td>
                    <select name="station" placeholder="站点">
                    </select>
                </td>
            </tr>
            <tr>
                <td><span>备注</span></td>
                <td>
                    <input name="direction" placeholder="" />
                </td>
            </tr>
        </table>
        <form {% if modify == 0 %}action="/route_add"{% else %}action="/route_modify"{% endif %} method="POST">
            <div class="my-modal-footer" >
                <input type="hidden" name="route_name" />
                <input type="hidden" name="station_list" />
                <input type="hidden" name="modify" value="{{ modify }}" />
                <input type="hidden" name="route_id" value="{{ route_id }}" />
                <div class="clickbtn" style="margin: 0px;width: 830px;text-align: center; ">
                    <button type="button" class="btn add">添加</button>
                    <div class="btn cancle">取消</div>
                    <button type="button" class="btn save">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mask" {% if modify == 1 %}style="display: block;"{% else %}style="display: none;"{% endif %}></div>
</body>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/js/through.js"></script>
<script type="text/javascript" src="/static/js/query.js"></script>
<script type="text/javascript" src="/static/js/paging.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/jquery.darktooltip.js"></script>

<script type="text/javascript">
    // 定义车牌号正则规则
    // 大型货车&小型货车
    var re_01 = /^[\W][A-Z][A-Z0-9]{5}$/
    // 挂车
    var re_15 = /^[\W][A-Z][A-Z0-9]{4}$/

    $(function() {
        // 显示增加路线
        $('#add').click(function() {
            $('.add-vehicle').show();
            $('.mask').show();
        });

        // 隐藏增加路线
        $('.add-vehicle .cancle').click(function() {
            if (confirm('是否放弃编辑？')) {
                $('.add-vehicle').hide();
                $('.mask').hide();
                window.location.href = "/route_cancel";
            }
        });

        // 新增站点
        $('.add-vehicle .add').click(function() {
            let station_id = $('.add-vehicle select').eq(2).val();

            if (station_id == '0' || station_id == null) {
                alert('请选择站点');
            }
            else {
                addStation(station_id);
            }
        });

        // 保存新增
        $('.add-vehicle .save').click(function() {
            let route_name = $('.add-vehicle .my-modal-body input').eq(0).val().replace(/\s+/g,"");
            let modify = $('.add-vehicle .my-modal-footer input').eq(2).val();

            if (route_name.length == 0) {
                alert('请填写路线名称');
                return;
            } else if (modify == 1) {
                $('.add-vehicle .my-modal-footer input').eq(0).val(route_name);
                if (confirm('是否保存路线？')) {
                    refreshStationList();
                    $('.add-vehicle').hide();
                    $('.mask').hide();
                    $('.add-vehicle form').submit();
                }
            } else {
                $.get('/can_add_station', {'route_name': route_name}, function (data) {
                    if (data.result) {
                        $('.add-vehicle .my-modal-footer input').eq(0).val(route_name);
                        if (confirm('是否保存路线？')) {
                            refreshStationList();
                            $('.add-vehicle').hide();
                            $('.mask').hide();
                            $('.add-vehicle form').submit();
                        }
                    }
                    else {
                        alert('路线行程已存在');
                    }
                });
            }
        });

        // 编辑车辆信息表单提交: 删除
        $('.modify-vehicle .delete').click(function() {
            if (confirm('是否删除该车辆信息？')) {
                $('.modify-vehicle form').prop('action', '/vehicle_delete');
                $('.modify-vehicle form').submit();
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 提交车辆查询表单
        $('.search_input .find_btn').click(function() {
            $('.search_input form').submit();
        });

        // 显示导入车辆信息模态框
        $('.import-excel').click(function() {
            $('.pop-up1').show();
            $('.mask').show();
        });

        // 导入车辆提交
        $('.pop-up1 .btndiv button').click(function() {
            // 判断是否选择文件
            if ($('.pop-up1 .selFile input').val().length > 0) {
                $('.pop-up1 form').submit();
            } else {
                alert('请选择需要导入的文件');
            }
        });

        // 区域选择后, 道路对应变化
        $('.my-modal-body select').eq(0).change(function() {
            $.ajaxSettings.async = false;
            let val = $(this).val();

            if (val == 0) {
                $('.my-modal-body select').eq(1).val(0);
                $('.my-modal-body select').eq(1).attr("disabled","disabled");
            } else {
                $('.my-modal-body select').eq(1).removeAttr("disabled");
                setCateInfo($(this), $('.my-modal-body select').eq(1), 0, 'road');
            }

            $('.my-modal-body select').eq(1).change();
        });

        // 道路选择后, 站点变化
        $('.my-modal-body select').eq(1).change(function() {
            $.ajaxSettings.async = false;
            let val = $(this).val();

            if (val == 0) {
                $('.my-modal-body select').eq(2).val(0);
                $('.my-modal-body select').eq(2).attr("disabled","disabled");
            } else {
                $('.my-modal-body select').eq(2).removeAttr("disabled");
                setDirectionInfo($('.my-modal-body select').eq(0), $(this), $('.my-modal-body select').eq(2), 0, 'direction');
            }

            $('.my-modal-body select').eq(2).change();
        });

        // 站点选择后, 备注变化
        $('.my-modal-body select').eq(2).change(function() {
            $.ajaxSettings.async = false;
            let station_id = $(this).val();

            // if (val == 0) {
            //    $('.my-modal-body select').eq(3).val(0);
            //    $('.my-modal-body select').eq(3).attr("disabled","disabled");
            // } else {
            //    $('.my-modal-body select').eq(3).removeAttr("disabled");
            //    setStationInfo($('.my-modal-body select').eq(0), $('.my-modal-body select').eq(1), $(this), $('.my-modal-body select').eq(3), 0, 'station');
            // }

            setCommentInfo(station_id);
        });
    });

    // 跳转到指定页面
    function jump() {
        $('#pageToolbar form').submit();
    }

    // 删除本单位全部车辆
    function clear_all(user_id) {
        if (confirm('是否删除全部车辆信息？')) {
            window.location.href = "/clear_all?user_id=" + user_id;
        }
    }

    // 选择不同的上级选项, 下级选择框相应变化
    function setCateInfo(parentObj, childObj, childId, item) {
        // 设置查询下级复选框等级
        var childId = childId || 0;
        // 用户选择上级选项的id
        var parent_id = parentObj.val();

        // 通过Ajax获取二级部门
        $.get('/station_search', {'parent_id': parent_id, 'item': item}, function(data) {
            // 清空二级部门选择中的全部选项
            childObj.empty();
            // 根据查询结果, 添加二级部门子元素
            // var newOption = $('<option></option>').val(0).text('待定');
            childObj.append(newOption);
            for (i in data.cate_list) {
                if (childId == data.cate_list[i].id) {
                    var newOption = $('<option selected></option>').val(data.cate_list[i].id).text(data.cate_list[i].name);
                } else {
                    var newOption = $('<option></option>').val(data.cate_list[i].id).text(data.cate_list[i].name);
                }
                childObj.append(newOption);
            }
        });
    }

    // 选择道路，方向变化
    function setDirectionInfo(obj_1, parentObj, childObj, childId, item) {
        // 设置查询下级复选框等级
        var childId = childId || 0;
        // 用户选择上级选项的id
        var parent_id = parentObj.val();
        // 区域值
        let obj_1_val = obj_1.val();

        // 通过Ajax获取二级部门
        $.get('/station_search', {'parent_id': parent_id, 'item': item, 'obj_1_val': obj_1_val}, function(data) {
            // 清空二级部门选择中的全部选项
            childObj.empty();
            // 根据查询结果, 添加二级部门子元素
            // var newOption = $('<option></option>').val(0).text('待定');
            childObj.append(newOption);
            for (i in data.cate_list) {
                if (childId == data.cate_list[i].id) {
                    var newOption = $('<option selected></option>').val(data.cate_list[i].id).text(data.cate_list[i].name);
                } else {
                    var newOption = $('<option></option>').val(data.cate_list[i].id).text(data.cate_list[i].name);
                }
                childObj.append(newOption);
            }
        });
    }

    // 选择方向，站点变化
    function setStationInfo(obj_1, obj_2, parentObj, childObj, childId, item) {
        // 设置查询下级复选框等级
        var childId = childId || 0;
        // 用户选择上级选项的id
        var parent_id = parentObj.val();
        // 区域值
        let obj_1_val = obj_1.val();
        // 道路
        let obj_2_val = obj_2.val();

        // 通过Ajax获取二级部门
        $.get('/station_search', {'parent_id': parent_id, 'item': item, 'obj_1_val': obj_1_val, 'obj_2_val': obj_2_val}, function(data) {
            // 清空二级部门选择中的全部选项
            childObj.empty();
            // 根据查询结果, 添加二级部门子元素
            // var newOption = $('<option></option>').val(0).text('待定');
            childObj.append(newOption);
            for (i in data.cate_list) {
                if (childId == data.cate_list[i].id) {
                    var newOption = $('<option selected></option>').val(data.cate_list[i].id).text(data.cate_list[i].name);
                } else {
                    var newOption = $('<option></option>').val(data.cate_list[i].id).text(data.cate_list[i].name);
                }
                childObj.append(newOption);
            }
        });
    }

    function setCommentInfo(station_id) {
        $.get('station_search', {'station_id': station_id, 'item': 'station'}, function (data) {
            $('.my-modal-body input').eq(1).val(data.value);
        });
    }
    
    // 在路线中添加站点
    function addStation(station_id) {
        // 添加站点
        //$.get('/station_add', {'station_id': station_id, 'route_name': route_name}, function (data) {
        let result;
        result = addStationToForm(station_id);

        if (result == 0) {
            let station_name = '';
            let station_area = '';
            let station_road = '';
            let station_direction = '';
            $.get('/get_station_info', {'station_id': station_id}, function (data) {
                station_name = data.station_name;
                station_area = data.station_area;
                station_road = data.station_road;
                station_direction = data.station_direction;
            });

            let newRow = "<tr style=\"height: 40px;\">\n" +
                            "<td style=\"width: 4%\">" + "</td>\n" +
                            "<td title=" + station_name + ">" + station_name + "</td>\n" +
                            "<td title=" + station_area + ">" + station_area + "</td>\n" +
                            "<td title=" + station_road + ">" + station_road + "</td>\n" +
                            "<td title=" + station_direction + ">" + station_direction + "</td>\n" +
                            "<td>\n" +
                            "<button type=\"button\" class=\"see modify-vehicle-info\" style=\"margin-right: 5px;\" route_id=\"" + station_id + "\">删除</button>\n" +
                            "</td>\n" +
                            "<input type=\"hidden\" value=" + station_id + ">"
                        "</tr>"
            $('.add-station tr:last').after(newRow);
            refreshRowNumber();
            refreshStationList();
        } else if (result == 3) {
            alert('该站点已停满，请选择其它站点');
        } else if (result == 2) {
            alert('站点已经存在于路线中');
        } else if (result == 1) {
            alert('站点数量不能超过5个');
        } else {
            alert('添加站点失败');
        }
        //})
    }

    function addStationToForm(station_id) {
        let result = 4;
        $.ajax({
            type: "POST",
            url: "/is_station_over_limitation",
            async: false,
            cache: false,
            dataType: "json",
            data: {'station_id': station_id},
            success: function (data) {
                if (data.result) {
                    result = 3;  // 站点使用数量超限
                } else {
                    let station_list = $('.add-vehicle .my-modal-footer input').eq(1).val();

                    if (station_list.length > 0) {
                        station_list = station_list.split(',');
                        if (station_list.length >= 5) {  // 站点数量不能大于5
                            result = 1;
                        }
                        else if (station_list.includes(station_id)) {  // 同一站点不能添加两次
                            result = 2;
                        } else {
                            result = 0;
                        }
                    } else {
                        result = 0;
                    }
                }
            },
            error: function () {
                result = 4;  // 未知错误，添加失败
            }
        });

        return result;
    }

    // 更新表格中的行号
    function refreshRowNumber() {
        let len = $('.add-station tr').length;
        for (let i = 1; i < len; i++) {
            $('.add-station tr').eq(i).children().eq(0).text(i);
            let route_id = $('.add-station tr').eq(i).children().eq(5).children().eq(0).attr('route_id');
            $('.add-station tr').eq(i).children().eq(5).children().eq(0).attr('onclick', 'deleteStation(' + route_id + ', ' + i + ')')
        }
    }

    // 删除站点
    function deleteStation(route_id, row_number) {
        // $.get('station_delete', {'route_id': route_id}, function (data) {
        //     if (data.result) {
        //         $('.add-station tr').eq(row_number).remove();
        //         refreshRowNumber();
        //     }
        // });
        $('.add-station tr').eq(row_number).remove();
        refreshRowNumber();
        refreshStationList();
    }

    function refreshStationList() {
        let len = $('.add-station input').length;
        let station_list = ''
        for (let i=0; i<len; i++) {
            if (i == 0) {
                station_list = $('.add-station input').eq(i).val();
            } else {
                station_list =  station_list + "," + $('.add-station input').eq(i).val();
            }
        }

        $('.add-vehicle .my-modal-footer input').eq(1).val(station_list);
    }

    // 显示编辑站点窗口
    function routeModify(route_id) {
        window.location.href = "/station?modify=1&route_id=" + route_id;
    }

    function routeDelete(route_id) {
        if (confirm("是否删除该路线？")) {

            $.get('can_delete_route', {'route_id': route_id}, function (data) {
                if (data.result) {
                    window.location.href = "/route_delete?route_id=" + route_id;
                } else {
                    alert('请先删除与该路线关联的通行证');
                }
            });

        }
    }
</script>
</html>