<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!-- 目前仅限360急速浏览 webkit:急速  ie-comp:ie兼容模式   ie-stand: ie标准模式 -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/initial.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/account_number.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modle.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/paging.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/darktooltip.css"/>

    <style type="text/css">
        .table_container .search_input select{
            width: 150px;
            height: 24px;
            border-radius: 4px;
            padding-left: 10px;
            background-color: #f9f9f9;
            border: solid 1px #eeeeee;
            margin-right: 10px;
            outline: none;
        }
        /* 模态框 */
        .my-modal-dialog{
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            margin: auto;
            width: 460px;
            height: 698px;
            display: none;
        }

        .my-modal-title{
            text-align: center;
            font-size: 20px;
        }

        .my-modal-body select,input{
            width: 200px;
            height: 30px;
            padding-left: 5px;
            border-radius: 4px;
        }

        .my-modal-body p{
            text-align: center;
        }

        .my-modal-body table span{
            text-align: justify;
            text-align-last:justify;
            display: inline-block;
            width:100px;
        }

        .my-modal-body table,
        .my-modal-body tr,
        .my-modal-body td{
            margin: auto;
            padding: 8px;
            text-align: center;
        }

        .my-modal-footer{
            margin-top: 20px;
        }
        .my-modal-footer .btn{
            margin-left: 0px;
        }

        a,a:active,a:visited,a:focus{
            text-decoration: none;
        }

        .pop-up1 .btndiv input,.pop-up1 .btndiv button{
         display: inline-block;
         background-color: #25b4b2;
         border: solid 1px #189694;
         color: #fff;
         margin-left: 160px;
         background: #139b99;
        }

        .table_head .number_word{
        float: right;
        margin-right: 20px;
        }

        .my-modal-footer .save {
            background-color: #ffffff;
            border: solid 1px #189694;
            color: #25B4B2;
        }

        .my-modal-footer .save:hover{
            background: #139b99;
            color: #fff;
        }
    </style>
    <title></title>
</head>
<body>
<div class="table_wrapper">
    <div class="table_head">
        <span>车辆列表</span>
    </div>
    <div class="table_container">
        <div class="search_input">
            <label for="ss">车辆搜索</label>
            <form action="/vehicle" method="GET" style="display: inline-block;">
                <input type="text" placeholder="输入车牌号码" id="ss" name="number" value="{{ number }}" />
                <select name="status">
                    <option value="0" {% if status == 0 %}selected{% endif %}>全部车辆</option>
                    <option value="1" {% if status == 1 %}selected{% endif %}>未提交车辆</option>
                    <option value="2" {% if status == 2 %}selected{% endif %}>待审核车辆</option>
                    <option value="3" {% if status == 3 %}selected{% endif %}>已通过车辆</option>
                    <option value="4" {% if status == 4 %}selected{% endif %}>未通过车辆</option>
                    <option value="5" {% if status == 5 %}selected{% endif %}>被冻结车辆</option>
                </select>
            </form>
            <span class="find_btn">查询</span>
            <span class="add_account" id="add">新增车辆</span>
{#            <a href="/static/excel/vehicle.xls"><span class="out outexcel">模版下载</span></a>#}
{#            <span class="out import-excel">导入车辆</span>#}
        </div>
        <!--检索结果-->
        <table class="table_box" id="table_box">
            <thead>
                <tr>
                    <td style="width: 4%">序号</td>
                    <td>号牌号码</td>
                    <td>车辆类型</td>
                    <td>发动机型号</td>
                    <td>所有人</td>
                    <td>车辆所属</td>
                    <td>状态</td>
                    <td>原因</td>
                    <td style="width: 200px">操作</td>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in mp.object_list %}
                <tr>
                    <td style="width: 4%">{{ forloop.counter }}</td>
                    <td title="{{ vehicle.vehicle_number }}">{{ vehicle.vehicle_number }}</td>
                    <td title="{{ vehicle.vehicle_type.status_content }}">{{ vehicle.vehicle_type.status_content }}</td>
                    <td title="{{ vehicle.engine_code }}">{{ vehicle.engine_code }}</td>
                    <td title="{{ vehicle.vehicle_owner }}">{{ vehicle.vehicle_owner }}</td>
                    <td title="{{ vehicle.vehicle_belong.status_content }}">{{ vehicle.vehicle_belong.status_content }}</td>
                    <td title="{{ vehicle.vehicle_status.status_content }}">{{ vehicle.vehicle_status.status_content }}</td>
                    <td title="{{ vehicle.vehicle_reason|default:'' }}">{{ vehicle.vehicle_reason|default:'' }}</td>
                    <td>
                        <button type="button" class="see modify-vehicle-info" style="margin-right: 5px;" onclick="setVehicleInfo(
                        '{{ vehicle.vehicle_type_id }}', '{{ vehicle.vehicle_number|linebreaksbr }}', '{{ vehicle.engine_code|linebreaksbr }}',
                        '{{ vehicle.vehicle_owner|linebreaksbr }}', '{{ vehicle.register_date|date:'Y-m-d' }}',
                        '{{ vehicle.vehicle_belong_id|linebreaksbr }}', '{{ vehicle.id }}', '{{ vehicle.vehicle_status_id }}')">查看</button>
                        {% if vehicle.vehicle_status_id == 1 or vehicle.vehicle_status_id == 4 %}
                        <a class="see" style="margin-right: 5px;" href="/vehicle_submit?vehicle_id={{ vehicle.id }}">提交</a>
                        {% elif vehicle.vehicle_status_id == 5 %}
                        <button type="button" class="see unlock-vehicle-info" style="margin-right: 5px;" onclick="setUnlockInfo(
                        '{{ vehicle.vehicle_number|linebreaksbr }}', '{{ vehicle.vehicle_reason|linebreaksbr }}',
                        '{{ vehicle.id }}')">解冻</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pagingToolBar"></div>
    <!--分页-->
    <div id="pageToolbar">
        <div id="Paging_009071537570730115" class="ui-paging-container">
            <ul>
                <a href="/vehicle?page_num=1&number={{ number }}&status={{ status }}"><li class="js-page-first js-page-action ui-pager">&lt;&lt;首页</li></a>
                <a href="/vehicle?page_num={{ mp.current_num|add:-1 }}&number={{ number }}&status={{ status }}"><li class="js-page-prev js-page-action ui-pager">上一页</li></a>
                {% for num in mp.page_range %}
                    {% if num == mp.current_num %}
                    <a href="/vehicle?page_num={{ num }}&number={{ number }}&status={{ status }}"><li class="ui-pager focus">{{ num }}</li></a>
                    {% else %}
                    <a href="/vehicle?page_num={{ num }}&number={{ number }}&status={{ status }}"><li class="ui-pager">{{ num }}</li></a>
                    {% endif %}
                {% endfor %}
                <a href="/vehicle?page_num={{ mp.current_num|add:1 }}&number={{ number }}&status={{ status }}"><li class="js-page-next js-page-action ui-pager">下一页</li></a>
                <a href="/vehicle?page_num={{ mp.total_pages }}&number={{ number }}&status={{ status }}"><li class="js-page-last js-page-action ui-pager">末页&gt;&gt;</li></a>
                <li class="ui-paging-toolbar">
                    <form action="/vehicle" method="GET">
                        <input type="text" class="ui-paging-count" style="font-size: 12px;" name="page_num" value="{{ mp.current_num }}" />
                        <input type="hidden" name="number" value="{{ number }}" />
                        <input type="hidden" name="status" value="{{ status }}" />
                        <span>/&nbsp;{{ mp.total_pages }}</span>
                        <a href="javascript:jump()">跳转</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--模态框-->
<!-- 新增车辆 -->
<div class="pop-up add-vehicle my-modal-dialog">
    <div class="my-modal-title">
        <p>新增车辆</p>
    </div>
    <div class="my-modal-body">
        <form action="/vehicle_add" method="POST">
            <table>
                <tr>
                    <td colspan="2"><p style="padding: 20px;">车辆信息</p></td>
                </tr>
                <tr>
                    <td><span>号牌号码</span></td>
                    <td>
                        <input type="text" placeholder="请输入号牌号码" name="vehicle_number">
                    </td>
                </tr>
                <tr>
                    <td><span>号牌颜色</span></td>
                    <td>
                        <select name="plate_color" placeholder="请选择号牌颜色">
                            <option value="1">黄色</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>车辆类型</span></td>
                    <td>
                        <select name="vehicle_type" placeholder="请选择车辆类型">
                            <option value="21">中型车</option>
                            <option value="22">大型车</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>发动机号</span></td>
                    <td>
                        <input type="text" placeholder="请输入发动机号" name="engine_code">
                    </td>
                </tr>
                <tr>
                    <td><span>所有人</span></td>
                    <td>
                        <input type="text" placeholder="请输入所有人" name="vehicle_owner">
                    </td>
                </tr>
                <tr>
                    <td><span>车辆注册日期</span></td>
                    <td>
                        <input type="text" class="datetime-picker" placeholder="请选择车辆注册日期" name="register_date">
                    </td>
                </tr>
                <tr>
                    <td><span>车辆所属</span></td>
                    <td>
                        <select name="vehicle_belong" placeholder="请选择车辆类型">
                            <option value="11">自有车辆</option>
                            <option value="12">租赁车辆</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="my-modal-footer" >
                <div class="clickbtn" style="margin: 0px;width: 430px;text-align: center;">
                    <button type="button" class="btn save">保存</button>
                    <div class="btn cancle">取消</div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 编辑车辆 -->
<div class="pop-up modify-vehicle my-modal-dialog">
    <div class="my-modal-title">
        <p>编辑车辆信息</p>
    </div>
    <div class="my-modal-body">
        <form action="#" method="POST">
            <table>
                <tr>
                    <td colspan="2"><p style="padding: 20px;">车辆信息</p></td>
                </tr>
                <tr>
                    <td><span>号牌号码</span></td>
                    <td>
                        <input type="text" placeholder="请输入号牌号码" name="vehicle_number" disabled>
                    </td>
                </tr>
                <tr>
                    <td><span>号牌颜色</span></td>
                    <td>
                        <select name="plate_color" placeholder="请选择号牌颜色">
                            <option value="1">黄色</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>车辆类型</span></td>
                    <td>
                        <select name="vehicle_type" placeholder="请选择车辆类型">
                            <option value="21">中型车</option>
                            <option value="22">大型车</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>发动机号</span></td>
                    <td>
                        <input type="text" placeholder="请输入发动机号" name="engine_code">
                    </td>
                </tr>
                <tr>
                    <td><span>所有人</span></td>
                    <td>
                        <input type="text" placeholder="请输入所有人" name="vehicle_owner">
                    </td>
                </tr>
                <tr>
                    <td><span>车辆注册日期</span></td>
                    <td>
                        <input type="text" class="datetime-picker" placeholder="请选择车辆注册日期" name="register_date">
                    </td>
                </tr>
                <tr>
                    <td><span>车辆所属</span></td>
                    <td>
                        <select name="vehicle_belong" placeholder="请选择车辆类型">
                            <option value="11">自有车辆</option>
                            <option value="12">租赁车辆</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="vehicle_id">
            <div class="my-modal-footer" >
                <div class="clickbtn" style="text-align: center;width: 440px;">
                    <button type="button" class="btn save">保存</button>
                    <button type="button" class="btn del">删除</button>
                    <button type="button" class="btn cancle">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- 申请解冻车辆 -->
<div class="pop-up unlock-vehicle my-modal-dialog" style="height: 550px;">
    <div class="my-modal-title">
        <p>标记车辆</p>
    </div>
    <div class="my-modal-body">
        <form action="/vehicle_unlock" method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <td colspan="2"><p style="padding: 20px;">车辆信息</p></td>
                </tr>
                <tr>
                    <td><span>号牌号码</span></td>
                    <td>
                        <input type="text" placeholder="号牌号码" name="vehicle_number" disabled>
                    </td>
                </tr>
                <tr>
                    <td><span>冻结原因</span></td>
                    <td>
                        <input type="text" placeholder="冻结原因" name="vehicle_reason">
                    </td>
                </tr>
                <tr>
                    <td><span>解冻说明</span></td>
                    <td>
                        <textarea name="unlock_content" style="resize:none; border-radius: 4px; background-color: #f9f9f9;border: solid 1px #eeeeee;outline: none;padding: 10px;width:200px;height:100px"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><span>解冻材料</span></td>
                    <td>
                        <input type="file" placeholder="解冻材料" name="unlock_file">
                    </td>
                </tr>
            </table>
            <input type="hidden" name="vehicle_id">
            <div class="my-modal-footer" >
                <div class="clickbtn" style="margin: 5px;width: 460px;text-align: center; margin-top: 20px;">
                    <button type="button" class="btn save">保存</button>
                    <button type="button" class="btn cancle" style="margin: 0px;">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--模态框-->
<div class="container">
    <div class="pop-up" style="width: 560px;height: 268px;margin: 15% auto;display: none">
        <form>
            <div class="ePrisename" style="height: 200px;">
                <label for="reason" style="vertical-align: top;width: 100px">填写原因</label>
                <textarea name="" id="reason" style="resize:none;border-radius:4px; background-color: #f9f9f9;border: solid 1px #eeeeee;outline: none;padding: 10px;width:400px;height:150px"></textarea>
            </div>

            <div class="clickbtn" style="margin: 0 auto;width: 430px">
                <div class="btn save" id="save">提交</div>
                <div class="btn del" id="del">关闭</div>
            </div>
        </form>
    </div>
</div>

<!--上传文件模态框-->
<div class="pop-up1" style="width: 560px;height: 268px;display: none;">
    <form action="/excel_import" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="selFile">
            <label for="reason" style="">选择文件</label>
            <input type="file" name="excel_file" style="outline: none;cursor: pointer; width:300px; margin-left: 100px;" accept="application/vnd.ms-excel"/>
        </div>

        <div class="btndiv" style="margin-top: 50px;">
            <button type="button" class="btn save" style="line-height: 27px;" >导入</button>
            <!--<input type="submit" class="btn" style="line-height: 27px;" value="导入" />-->
            <div class="btn" id="close" style="line-height: 27px;">关闭</div>
        </div>
    </form>
</div>

<div class="pop-up2" style="width: 560px;height: 268px;display: none;">
    <form id="xmlform" enctype="multipart/form-data">
        <div class="selFile" style="">
            <label for="reason" style="">选择文件</label>
            <input type="file" name="file" style="outline: none;cursor: pointer" />
        </div>

        <div class="btndiv" style="">
            <div class="btn" id="outxmls">提交</div>
            <div class="btn" id="closexml">关闭</div>
        </div>
    </form>
</div>

<div class="mask" style="display: none"></div>
</body>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/js/through.js"></script>
<script type="text/javascript" src="/static/js/query.js"></script>
<script type="text/javascript" src="/static/js/paging.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/jquery.darktooltip.js"></script>

<script type="text/javascript">

    $(function() {
        // 显示增加车辆模态框
        $('#add').click(function() {
            $('.add-vehicle').show();
            $('.mask').show();
        });

        // 隐藏增加车辆模态框
        $('.add-vehicle .cancle').click(function() {
            if (confirm('是否取消新增？')) {
                $('.add-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 显示编辑车辆信息模态框
        $('.table_box .modify-vehicle-info').click(function() {
            $('.modify-vehicle').show();
            $('.mask').show();
        });

        // 隐藏编辑车辆信息模态框
        $('.modify-vehicle .cancle').click(function() {
            if ($('.modify-vehicle .clickbtn .save').css("display") == 'none'){
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
            else if (confirm('是否放弃修改？')) {
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 显示解冻车辆信息模态框
        $('.table_box .unlock-vehicle-info').click(function() {
            $('.unlock-vehicle').show();
            $('.mask').show();
        });

        // 隐藏解冻车辆模态框
        $('.unlock-vehicle .cancle').click(function() {
            if (confirm('是否取消解冻？')) {
                $('.unlock-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 提交解冻车辆解冻申请
        $('.unlock-vehicle .save').click(function() {
            if (confirm('是否提交解冻申请？')) {
                $('.unlock-vehicle').hide();
                $('.mask').hide();
                $('.unlock-vehicle form').submit();
            }
        });

        // 日期组件初始化
        $('.datetime-picker').datetimepicker({
            language: 'zh-CN',          //显示中文
            format: 'yyyy-mm-dd',       //显示格式
            minView: "month",           //设置只显示到月份
            initialDate: new Date(),    //初始化当前日期
            autoclose: true,            //选中自动关闭
            todayBtn: true              //显示今日按钮
        });

        // 保存新增车辆
        $('.add-vehicle .save').click(function() {
            var number = $('.add-vehicle input').eq(0).val().replace(/\s+/g,"");
            var engine = $('.add-vehicle input').eq(1).val().replace(/\s+/g,"");
            var owner = $('.add-vehicle input').eq(2).val().replace(/\s+/g,"");
            var register_date = $('.add-vehicle input').eq(3).val().replace(/\s+/g,"");

            if (number.length == 0) {
                alert('请输入正确的号牌号码');
            }
            else if (engine.length == 0) {
                alert('请输入正确的发动机号');
            }
            else if (owner.length == 0) {
                alert('请输入正确的车辆所有人');
            }
            else if (register_date.length == 0) {
                alert('请选择正确的车辆注册日期');
            }
            else {
                $.get('/can_add_vehicle', {'number': number, 'engine': engine, 'owner': owner}, function(data) {
                    if (data.result == '1') {
                        alert('当前号牌车辆已录入');
                    }
                    else if (data.result == '2') {
                        alert('车辆信息不正确');
                    }
                    else if (data.result == '3') {
                        alert('请先添加自有车辆企业');
                    }
                    else if (data.result == '4') {
                        alert('企业未通过审核');
                    }
                    else if (confirm('是否保存新增车辆信息？')) {
                        $('.add-vehicle form').submit();
                        $('.add-vehicle').hide();
                        $('.mask').hide();
                    }
                });
            }
        });

        // 保存编辑车辆
        $('.modify-vehicle .save').click(function() {
            var number = $('.modify-vehicle input').eq(0).val().replace(/\s+/g,"");
            var engine = $('.modify-vehicle input').eq(1).val().replace(/\s+/g,"");
            var owner = $('.modify-vehicle input').eq(2).val().replace(/\s+/g,"");
            var register_date = $('.modify-vehicle input').eq(3).val().replace(/\s+/g,"");

            if (number.length == 0) {
                alert('请输入正确的号牌号码');
            }
            else if (engine.length == 0) {
                alert('请输入正确的发动机号');
            }
            else if (owner.length == 0) {
                alert('请输入正确的车辆所有人');
            }
            else if (register_date.length == 0) {
                alert('请选择正确的车辆注册日期');
            }
            else if (confirm('是否保存车辆信息？')) {
                $('.modify-vehicle form').prop('action', '/vehicle_modify');
                $('.modify-vehicle form').submit();
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 编辑车辆信息表单提交: 删除
        $('.modify-vehicle .del').click(function() {
            if (confirm('是否删除该车辆信息？')) {
                $('.modify-vehicle form').prop('action', '/vehicle_delete');
                $('.modify-vehicle form').submit();
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 提交车辆查询表单
        $('.search_input .find_btn').click(function() {
            $('.search_input form').submit();
        });

        // 显示导入车辆信息模态框
        $('.import-excel').click(function() {
            $('.pop-up1').show();
            $('.mask').show();
        });

        // 导入车辆提交
        $('.pop-up1 .btndiv button').click(function() {
            // 判断是否选择文件
            if ($('.pop-up1 .selFile input').val().length > 0) {
                $('.pop-up1 form').submit();
            } else {
                alert('请选择需要导入的文件');
            }
        });
    });

    // 填充编辑车辆模态框信息
    function setVehicleInfo(vehicle_type, number, engine, owner, register_date, belong, vehicle_id, vehicle_status) {

        $('.modify-vehicle select').eq(1).val(vehicle_type);       // 车辆类型
        $('.modify-vehicle select').eq(2).val(belong);       // 车辆类型
        $('.modify-vehicle input').eq(0).val(number.replace("<br />",""));              // 号牌号码
        $('.modify-vehicle input').eq(1).val(engine.replace("<br />",""));              // 发动机型号
        $('.modify-vehicle input').eq(2).val(owner.replace("<br />",""));       // 车辆型号
        $('.modify-vehicle input').eq(3).val(register_date);     // 车辆注册日期
        $('.modify-vehicle input').eq(4).val(vehicle_id);     // 车辆注册日期


        if (vehicle_status == 3) {
            $('.modify-vehicle .my-modal-footer .save').hide();
        } else {
            $('.modify-vehicle .my-modal-footer .save').show();
        }
    }

    // 跳转到指定页面
    function jump() {
        $('#pageToolbar form').submit();
    }

    // 填充编辑车辆模态框信息
    function setUnlockInfo(vehicle_number, vehicle_reason, vehicle_id) {

        $('.unlock-vehicle input').eq(0).val(vehicle_number);
        $('.unlock-vehicle input').eq(1).val(vehicle_reason);
        $('.unlock-vehicle input').last().val(vehicle_id);
    }

    // 删除本单位全部车辆
    function clear_all(user_id) {
        if (confirm('是否删除全部车辆信息？')) {
            window.location.href = "/clear_all?user_id=" + user_id;
        }
    }
</script>
</html>