/*
* @Author: Marte
* @Date:   2018-03-20 13:55:54
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-21 11:20:55
*/

/* 页面总体 */
*{
    margin: 0px;
    // border: 1px solid;
    font-size: 15px;
    font-family: "Microsoft Yahei";
}

/* 背景框 */
.main{
    position: relative;
    margin: auto;
    width: 1280px;
    height: 800px;
    background-image: url("../image/background.png");
}

/* 系统标题 */
.main p{
    display: inline-block;
    position: absolute;
    left: 467px;
    top: 90px;
    width: 420px;
    height: 88px;
    font-size: 42px;
    color: #FFFFFF;
    line-height: 46px;
    text-align: center;
}

/* 警徽 */
.img01{
    display: inline-block;
    position: absolute;
    left: 365px;
    top: 87px;
}

/* 8890图标 */
.img02{
    display: inline-block;
    position: absolute;
    left: 544px;
    top: 350px;
}

/* 输入框 */
input, label{
    position: absolute;
    left: 720px;
    width:221px;
    height:33px;
    border-radius: 1px;
    border: 1px solid #A6B9C8;
    color: rgba(153,153,153,1);
    padding-left: 17px;
}

/* 用户名 */
.username{
    top: 307px;
}

/* 密码 */
.password{
    top: 364px;
    left: 720px;
}

/* 用户名密码提示 */
#label01{
    top: 307px;
    height:35px;
    line-height: 35px;
    z-index: 20;
}

#label02{
    top: 364px;
    height:35px;
    line-height: 35px;
    z-index: 20;
}

/* 登录按钮 */
.submit{
    top: 460px;
    padding: 0px;
    height: 37px;
    width: 240px;
    background-color: #17C0E6;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 3px;
}

/* 用户名密码错误提示 */
.main div{
    position: absolute;
    left: 720px;
    top: 413px;
    width: 238px;
    height: 28px;
    background-color: #FFEEF8;
    border: 1px solid #ECCDD8;
}

.main div img{
    position: absolute;
    left: 10px;
    top: 8px;
    width: 17px;
    height: 14px;
}

.main div p{
    position: absolute;
    left: 38px;
    top: 8px;
    width: 113px;
    height: 13px;
    font-size: 13px;
    color: #A2A2A2;
    line-height: 13px;
    text-align: left;
}

