<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电科进口道与rid对应关系</title>

    <style type="text/css">
        .cust_dir {
            position: absolute;
            left: 400px;
            top: 200px;
        }

        .rid_dir {
            position: absolute;
            left: 800px;
            top: 200px;
        }
    </style>
</head>
<body>

    <div class="cust_dir">
        <svg width="200px" height="200px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="black" stroke-width="3">
                {% for cust_froad_info in cust_froad_list %}
                <path d="M100 100 200 100" transform="rotate({{ cust_froad_info.cust_froad_angle }}, 100, 100)"/>
                {% endfor %}}
            </g>
        </svg>
    </div>

    <div class="rid_dir">
        <svg width="200px" height="200px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="black" stroke-width="3">
                {% for rid_info in rid_list %}
                <path d="M100 100 200 100" transform="rotate({{ rid_info.ft_angle }}, 100, 100)"/>
                {% endfor %}}
            </g>
        </svg>
    </div>

</body>
</html>