<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电科进口道与rid对应关系</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <style type="text/css">

        .cust_dir {
            position: absolute;
            left: -100px;
            top:-100px;
        }

        .rid_dir {
            position: absolute;
            left: 350px;
            top: -100px;
        }

        .result {
            position: absolute;
            left: 0px;
            top: 400px;
            width: 900px;
        }

        .content{
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .cust_phase_dir{
            position: absolute;
            top: 150px;
            left: 920px;
            width: 480px;
        }

    </style>
</head>
<body>

<div class="content">

    <div class="cust_dir">
        <svg width="600px" height="600px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            {% for cust_froad_info in cust_froad_list %}
             <a href="#" data-toggle="modal" data-target="#myModal" onclick="setFroad('{{ cust_froad_info.id }}')">
                <g stroke="gray" stroke-width="20">
                    <path d="M300 300 200 300" transform="rotate({{ cust_froad_info.cust_froad_angle }}, 300, 300)"/>
                <text x="250" y="150" style="stroke-width: 0.1;font-size: 15px;" transform="rotate({{ cust_froad_info.cust_froad_angle|add:-90 }}, 300, 300)">
                    {{cust_froad_info.cust_froad_name}} - {{ cust_froad_info.cust_froad_angle }} - {{ cust_froad_info.cust_froad_id }}
                </text>
                </g>
             </a>
            {% endfor %}}
        </svg>
    </div>

    <div class="rid_dir">
        <svg width="600px" height="600px" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="gray" stroke-width="20">
                {% for rid_info in rid_list %}
                <path d="M300 300 300 200" transform="rotate({{ rid_info.ft_angle }}, 300, 300)"/>
                <text x="250" y="150" style="stroke-width: 0.1;font-size: 15px;" transform="rotate({{ rid_info.ft_angle }}, 300, 300)">
                    {{ rid_info.rid_name }} - {{ rid_info.ft_angle }}
                </text>
                {% endfor %}}
            </g>
        </svg>
    </div>

    <!--匹配结果-->
    <div class="result" style="text-align: center">
        <h4>电科进口道与rid对应关系</h4>
        <select name="rid_type" style="width: 100px;" onchange="changeRidType()">
            <option value="0" {% if rid_type == 0 %}selected{% endif %}>全部</option>
            <option value="1" {% if rid_type == 1 %}selected{% endif %}>主路</option>
            <option value="2" {% if rid_type == 2 %}selected{% endif %}>辅路</option>
        </select>
        <input type="hidden" value="{{ inter_id }}" />
        <hr />
        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <td>电路进口道</td>
                <td>rid</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for map_info in map_list %}
            <tr>
                <td>{{ map_info.road.cust_froad_name }} - {{ map_info.road.cust_froad_angle }} - {{ map_info.road.cust_froad_id }}</td>
                <td>{{ map_info.rid.rid_name }} - {{ map_info.rid.ft_angle }}</td>
                <td><button class="btn btn-default" map_id="{{ map_info.id }}" onclick="deleteMap('{{ forloop.counter }}', '{{ map_info.id }}')">删除</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="cust_phase_dir">
        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <td>相位</td>
                <td>灯组</td>
                <td>进口道</td>
                <td>出口道</td>
                <td>方向</td>
            </tr>
            </thead>
            <tbody>
            {% for cust_phase_dir in cust_phase_dir_list %}
            <tr>
                <td>{{ cust_phase_dir.phase_name }}</td>
                <td>{{ cust_phase_dir.light_id }}</td>
                <td>{{ cust_phase_dir.f_road }}</td>
                <td>{{ cust_phase_dir.t_road }}</td>
                <td>{{ cust_phase_dir.turn }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 400px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">进口道对应关系</h4>
                </div>
                <div class="modal-body">
                    <label>电科进口道</label>
                    <select>
                        {% for cust_froad_info in cust_froad_list %}
                        <option value="{{ cust_froad_info.id }}">{{cust_froad_info.cust_froad_name}} - {{ cust_froad_info.cust_froad_angle }} - {{ cust_froad_info.cust_froad_id }}</option>
                        {% endfor %}
                    </select>

                    <label>rid</label>
                    <select>
                        {% for rid_info in rid_list %}
                        <option value="{{ rid_info.rid }}">{{ rid_info.rid_name }} - {{ rid_info.ft_angle }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addMap()">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</body>
<script type="text/javascript">

    // 设置模态框中的电科进口道
    function setFroad(road_id) {
        $(".modal-body select").eq(0).val(road_id);
    }

    // 添加进口道与rid的对应关系
    function addMap() {

        let road_id = $(".modal select").eq(0).val();
        let rid_id = $(".modal select").eq(1).val();

        // 根据id获取电科路段信息
        let road_angle = ''
        let road_name = ''

        $.ajax({
            type: "POST",
            url: "/phase_dir/get_road_info/",
            async: false,
            cache: false,
            dataType: "json",
            data: {'road_id': road_id},
            success: function (data) {
                road_angle = data.angle;
                road_name = data.name;
            },
            error: function () {
            }
        });

        // 根据id获取rid信息
        let rid_angle = ''
        let rid_name = ''

        $.ajax({
            type: "POST",
            url: "/phase_dir/get_rid_info/",
            async: false,
            cache: false,
            dataType: "json",
            data: {'rid_id': rid_id},
            success: function (data) {
                rid_angle = data.angle;
                rid_name = data.name;
            },
            error: function () {
            }
        });


        // 保存对应关系数据
        let inter_id = $('.result input').val();
        let map_id = ''
        $.ajax({
            type: "POST",
            url: "/phase_dir/save_map/",
            async: false,
            cache: false,
            dataType: "json",
            data: {'road_id': road_id, 'rid_id': rid_id, 'inter_id': inter_id},
            success: function (data) {
                map_id = data.map_id;
            },
            error: function () {
            }
        });

        let newRow = "<tr>\n" +
            "<td title=" + road_id + ">" + road_name + ' - ' + road_angle + "</td>\n" +
            "<td title=" + rid_id + ">" + rid_name + ' - ' + rid_angle + "</td>\n" +
            "<td>\n" +
            "<button class=\"btn btn-default\" map_id=\"" + map_id + "\">删除</button>\n" +
            "</td>\n" +
            // "<input type=\"hidden\" value=" + road_id + ">" +
            "</tr>"
        $('.result tr:last').after(newRow);

        $(".modal").hide();

        refreshRowNumber();
        // refreshStationList();

    }

    // 更新表格中的行号
    function refreshRowNumber() {
        let len = $('.result tr').length;
        for (let i = 1; i < len; i++) {
            let map_id = $('.result tr').eq(i).children().eq(2).children().eq(0).attr('map_id');
            $('.result tr').eq(i).children().eq(2).children().eq(0).attr('onclick', 'deleteMap(' + i + ', ' + map_id + ')')
        }
    }

    // 删除站点
    function deleteMap(row_number, map_id) {

        // 保存对应关系数据
        $.ajax({
            type: "POST",
            url: "/phase_dir/delete_map/",
            async: false,
            cache: false,
            dataType: "json",
            data: {'map_id': map_id},
            success: function () {
            },
            error: function () {
            }
        });

        $('.result tr').eq(row_number).remove();
        refreshRowNumber();
        // refreshStationList();
    }


    // 选择主路或者辅路
    function changeRidType() {
        let rid_type = $('.result select').val();
        let inter_id = $('.result input').val();

        window.location.href = "/phase_dir/rid_map?inter_id=" + inter_id + '&rid_type=' + rid_type;
    }

</script>
</html>