<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!-- 目前仅限360急速浏览 webkit:急速  ie-comp:ie兼容模式   ie-stand: ie标准模式 -->
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/initial.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/account_number.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modle.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/paging.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/darktooltip.css"/>

    <style type="text/css">
        .table_container .search_input select{
            width: 150px;
            height: 24px;
            border-radius: 4px;
            padding-left: 10px;
            background-color: #f9f9f9;
            border: solid 1px #eeeeee;
            margin-right: 10px;
            outline: none;
        }
        /* 模态框 */
        .my-modal-dialog{
            {#position: absolute;#}
            {#top: 0; left: 0; bottom: 0; right: 0;#}
            {#margin: auto;#}
            {#width: 460px;#}
            height: 598px;
            display: none;
        }

        .my-modal-title{
            text-align: center;
            font-size: 20px;
        }

        .my-modal-body select,input{
            width: 200px;
            height: 30px;
            padding-left: 5px;
            border-radius: 4px;
        }

        .my-modal-body p{
            text-align: center;
        }

        .my-modal-body table span{
            text-align: justify;
            text-align-last:justify;
            display: inline-block;
            width:100px;
        }

        .my-modal-body table,
        .my-modal-body tr,
        .my-modal-body td{
            margin: auto;
            padding: 8px;
            text-align: center;
        }

        a,a:active,a:visited,a:focus{
            text-decoration: none;
        }

        .pop-up1 .btndiv input,.pop-up1 .btndiv button{
         display: inline-block;
         background-color: #25b4b2;
         border: solid 1px #189694;
         color: #fff;
         margin-left: 160px;
         background: #139b99;
        }

        .table_head .number_word{
        float: right;
        margin-right: 20px;
        }

        .pop-up form div input{
            display: inline-block;
            width: 260px;
        }

        .my-modal-footer .save {
            background-color: #ffffff;
            border: solid 1px #189694;
            color: #25B4B2;
            margin-left: 107px;
        }

        .my-modal-footer .save:hover{
            background: #139b99;
            color: #fff;
        }

        .my-modal-footer .btn{
            margin-left: 0px;
            display: none;
        }
    </style>
    <title></title>
</head>
<body>
<div class="table_wrapper">
    <div class="table_head">
        <span>车辆列表</span>
    </div>
    <div class="table_container">
        <div class="search_input">
            <label for="ss">车辆搜索</label>
            <form action="/zhidui/vehicle_mark_show" method="GET" style="display: inline-block;">
                <input type="text" placeholder="输入车牌号码" id="ss" name="number" value="{{ number }}" />
{#                <select name="status">#}
{#                    <option value="0" {% if status == 0 %}selected{% endif %}>全部车辆</option>#}
{#                    <option value="1" {% if status == 1 %}selected{% endif %}>未提交车辆</option>#}
{#                    <option value="2" {% if status == 2 %}selected{% endif %}>待审核车辆</option>#}
{#                    <option value="4" {% if status == 4 %}selected{% endif %}>已通过车辆</option>#}
{#                    <option value="5" {% if status == 5 %}selected{% endif %}>未通过车辆</option>#}
{#                </select>#}
            </form>
            <span class="find_btn">查询</span>
        </div>
        <!--检索结果-->
        <table class="table_box" id="table_box">
            <thead>
                <tr>
                    <td style="width: 4%">序号</td>
                    <td>号牌号码</td>
                    <td>车辆类型</td>
                    <td>发动机型号</td>
                    <td>所有人</td>
                    <td>车辆所属</td>
                    <td>状态</td>
                    <td>原因</td>
                    <td style="width: 200px">操作</td>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in mp.object_list %}
                <tr>
                    <td style="width: 4%">{{ forloop.counter }}</td>
                    <td title="{{ vehicle.vehicle_number }}">{{ vehicle.vehicle_number }}</td>
                    <td title="{{ vehicle.vehicle_type.status_content }}">{{ vehicle.vehicle_type.status_content }}</td>
                    <td title="{{ vehicle.engine_code }}">{{ vehicle.engine_code }}</td>
                    <td title="{{ vehicle.vehicle_owner }}">{{ vehicle.vehicle_owner }}</td>
                    <td title="{{ vehicle.vehicle_belong.status_content }}">{{ vehicle.vehicle_belong.status_content }}</td>
                    <td title="{{ vehicle.vehicle_status.status_content }}">{{ vehicle.vehicle_status.status_content }}</td>
                    <td title="{{ vehicle.vehicle_reason|default:'' }}">{{ vehicle.vehicle_reason|default:'' }}</td>
                    <td>
                        <button type="button" class="see modify-vehicle-info" style="margin-right: 5px;" onclick="setVehicleInfo(
                        '{{ vehicle.vehicle_type_id }}', '{{ vehicle.vehicle_number|linebreaksbr }}', '{{ vehicle.engine_code|linebreaksbr }}',
                        '{{ vehicle.vehicle_owner|linebreaksbr }}', '{{ vehicle.register_date|date:'Y-m-d' }}',
                        '{{ vehicle.vehicle_belong_id }}', '{{ vehicle.id }}' , '{{ vehicle.vehicle_status_id }}')">查看</button>
                        {% if vehicle.vehicle_status_id != 1 and vehicle.vehicle_status_id != 2 and vehicle.vehicle_status_id != 4 %}
                        <button type="button" class="see mark-vehicle-info" style="margin-right: 5px;" onclick="setMarkInfo(
                        '{{ vehicle.vehicle_number|linebreaksbr }}', '{{ vehicle.id }}')">标记</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pagingToolBar"></div>
    <!--分页-->
    <div id="pageToolbar">
        <div id="Paging_009071537570730115" class="ui-paging-container">
            <ul>
                <a href="/zhidui/vehicle_mark_show?page_num=1&number={{ number }}&status={{ status }}"><li class="js-page-first js-page-action ui-pager">&lt;&lt;首页</li></a>
                <a href="/zhidui/vehicle_mark_show?page_num={{ mp.current_num|add:-1 }}&number={{ number }}&status={{ status }}"><li class="js-page-prev js-page-action ui-pager">上一页</li></a>
                {% for num in mp.page_range %}
                    {% if num == mp.current_num %}
                    <a href="/zhidui/vehicle_mark_show?page_num={{ num }}&number={{ number }}&status={{ status }}"><li class="ui-pager focus">{{ num }}</li></a>
                    {% else %}
                    <a href="/zhidui/vehicle_mark_show?page_num={{ num }}&number={{ number }}&status={{ status }}"><li class="ui-pager">{{ num }}</li></a>
                    {% endif %}
                {% endfor %}
                <a href="/zhidui/vehicle_mark_show?page_num={{ mp.current_num|add:1 }}&number={{ number }}&status={{ status }}"><li class="js-page-next js-page-action ui-pager">下一页</li></a>
                <a href="/zhidui/vehicle_mark_show?page_num={{ mp.total_pages }}&number={{ number }}&status={{ status }}"><li class="js-page-last js-page-action ui-pager">末页&gt;&gt;</li></a>
                <li class="ui-paging-toolbar">
                    <form action="/zhidui/vehicle_mark_show" method="GET">
                        <input type="text" class="ui-paging-count" style="font-size: 12px;" name="page_num" value="{{ mp.current_num }}" />
                        <input type="hidden" name="number" value="{{ number }}" />
                        <input type="hidden" name="status" value="{{ status }}" />
                        <span>/&nbsp;{{ mp.total_pages }}</span>
                        <a href="javascript:jump()">跳转</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--模态框-->
<!-- 编辑车辆 -->
<div class="pop-up modify-vehicle my-modal-dialog">
    <div class="my-modal-title">
        <p>审核车辆</p>
    </div>
    <div class="my-modal-body">
        <form action="#" method="POST">
            <table>
                <tr>
                    <td colspan="2"><p style="padding: 20px;">车辆信息</p></td>
                </tr>
                <tr>
                    <td><span>号牌号码</span></td>
                    <td>
                        <input type="text" placeholder="请输入号牌号码" name="vehicle_number" disabled>
                    </td>
                </tr>
                <tr>
                    <td><span>号牌颜色</span></td>
                    <td>
                        <select name="plate_color" placeholder="请选择号牌颜色">
                            <option value="1">黄色</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>车辆类型</span></td>
                    <td>
                        <select name="vehicle_type" placeholder="请选择车辆类型">
                            <option value="21">中型车</option>
                            <option value="22">大型车</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>发动机号</span></td>
                    <td>
                        <input type="text" placeholder="请输入发动机号" name="engine_code">
                    </td>
                </tr>
                <tr>
                    <td><span>所有人</span></td>
                    <td>
                        <input type="text" placeholder="请输入所有人" name="vehicle_owner">
                    </td>
                </tr>
                <tr>
                    <td><span>车辆注册日期</span></td>
                    <td>
                        <input type="text" class="datetime-picker" placeholder="请选择车辆注册日期" name="register_date">
                    </td>
                </tr>
                <tr>
                    <td><span>车辆所属</span></td>
                    <td>
                        <select name="vehicle_belong" placeholder="请选择车辆类型">
                            <option value="11">自有车辆</option>
                            <option value="12">租赁车辆</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="refuse_reason" class="refuse_reason" />
            <input type="hidden" name="vehicle_id">
            <div class="my-modal-footer" >
                <div class="clickbtn" style="margin: 5px;width: 460px;text-align: center; margin-top: 20px;">
                    <button type="button" class="btn save">通过</button>
                    <button type="button" class="btn del">驳回</button>
                    <button type="button" class="btn save">解冻</button>
                    <button type="button" class="btn del">冻结</button>
                    <button type="button" class="btn cancle" style="margin: 0px;">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 标记车辆 -->
<div class="pop-up mark-vehicle my-modal-dialog" style="height: 550px;">
    <div class="my-modal-title">
        <p>标记车辆</p>
    </div>
    <div class="my-modal-body">
        <form action="/zhidui/vehicle_mark" method="POST">
            <table>
                <tr>
                    <td colspan="2"><p style="padding: 20px;">车辆信息</p></td>
                </tr>
                <tr>
                    <td><span>号牌号码</span></td>
                    <td>
                        <input type="text" placeholder="请输入号牌号码" name="vehicle_number" disabled>
                    </td>
                </tr>
                <tr>
                    <td><span>标记原因</span></td>
                    <td>
                        <select name="mark_reason" placeholder="请选择标记原因" onchange="showIllegalInfo(this.value)">
                            <option value="61">违规标记</option>
                            <option value="62">其它原因</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><span>违规时间</span></td>
                    <td>
                        <input type="text" class="datetime-picker" placeholder="请选择违规时间" name="mark_time">
                    </td>
                </tr>
                <tr>
                    <td><span>违规地点</span></td>
                    <td>
                        <input type="text" placeholder="请输入违规地点" name="mark_position">
                    </td>
                </tr>
                <tr>
                    <td><span>违规情况</span></td>
                    <td>
                        <textarea name="mark_content" style="resize:none; border-radius: 4px; background-color: #f9f9f9;border: solid 1px #eeeeee;outline: none;padding: 10px;width:200px;height:100px"></textarea>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="vehicle_id">
            <div class="my-modal-footer" >
                <div class="clickbtn" style="margin: 5px;width: 460px;text-align: center; margin-top: 20px;">
                    <button type="submit" class="btn save">保存</button>
                    <button type="button" class="btn cancle" style="margin: 0px;">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 解冻车辆 -->
<div class="pop-up unlock-vehicle my-modal-dialog" style="height: 550px;">
    <div class="my-modal-title">
        <p>解冻车辆</p>
    </div>
    <div class="my-modal-body">
        <form action="/zhidui/vehicle_unlock" method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <td colspan="2"><p style="padding: 20px;">车辆信息</p></td>
                </tr>
                <tr>
                    <td><span>号牌号码</span></td>
                    <td>
                        <input type="text" placeholder="号牌号码" name="vehicle_number" disabled>
                    </td>
                </tr>
                <tr>
                    <td><span>冻结原因</span></td>
                    <td>
                        <input type="text" placeholder="冻结原因" name="vehicle_reason">
                    </td>
                </tr>
                <tr>
                    <td><span>解冻说明</span></td>
                    <td>
                        <textarea name="unlock_content" style="resize:none; border-radius: 4px; background-color: #f9f9f9;border: solid 1px #eeeeee;outline: none;padding: 10px;width:200px;height:100px"></textarea>
                    </td>
                </tr>
                <tr class="unlock-file">
                    <td><span>解冻材料</span></td>
                    <td>
                        <a href="#" target="_blank">点击查看</a>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="vehicle_id">
            <div class="my-modal-footer" >
                <div class="clickbtn" style="margin: 5px;width: 460px;text-align: center; margin-top: 20px;">
                    <button type="button" class="btn save">解冻</button>
                    <button type="button" class="btn cancle" style="margin: 0px;">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mask" style="display: none"></div>
</body>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/js/through.js"></script>
<script type="text/javascript" src="/static/js/query.js"></script>
<script type="text/javascript" src="/static/js/paging.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript" src="/static/js/jquery.darktooltip.js"></script>

<script type="text/javascript">

    $(function() {
        // 隐藏标记车辆模态框
        $('.mark-vehicle .cancle').click(function() {
            $('.mark-vehicle').hide();
            $('.mask').hide();
        });

        // 显示标记车辆信息模态框
        $('.table_box .mark-vehicle-info').click(function() {
            $('.mark-vehicle').show();
            $('.mask').show();
        });

        // 隐藏审核车辆模态框
        $('.modify-vehicle .cancle').click(function() {
            $('.modify-vehicle').hide();
            $('.mask').hide();
        });

        // 显示审核车辆信息模态框
        $('.table_box .modify-vehicle-info').click(function() {
            $('.modify-vehicle').show();
            $('.mask').show();
        });

        // 审核不通过、冻结，隐藏编辑车辆信息模态框
        $('.modify-vehicle .del').click(function() {
            $('.refuse-content').show();
            $('.modify-vehicle').hide();
            $('.refuse-content button').show();
        });

        // 日期组件初始化
        $('.datetime-picker').datetimepicker({
            language: 'zh-CN',          //显示中文
            format: 'yyyy-mm-dd',       //显示格式
            minView: "month",           //设置只显示到月份
            initialDate: new Date(),    //初始化当前日期
            autoclose: true,            //选中自动关闭
            todayBtn: true              //显示今日按钮
        });

        // 审核车辆信息表单提交: 通过
        $('.modify-vehicle .my-modal-footer button').eq(0).click(function() {
            if (confirm('是否审核通过?')) {
                $('.modify-vehicle form').prop('action', '/zhidui/vehicle_pass');
                $('.modify-vehicle form').submit();
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 审核车辆信息表单提交: 解冻
        $('.modify-vehicle .my-modal-footer button').eq(2).click(function() {
            if (confirm('是否解冻?')) {
                $('.modify-vehicle form').prop('action', '/zhidui/vehicle_pass');
                $('.modify-vehicle form').submit();
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 未通过原因: 取消
        $('.refuse-content .del').click(function() {
            $('.refuse-content').hide();
            $('.modify-vehicle').show();
        });

        // 未通过原因: 确定
        $('.refuse-content .save').click(function() {
            if (confirm('是否驳回/冻结该车辆？')) {
                $('.modify-vehicle .refuse_reason').val($('.refuse-content textarea').val());
                $('.modify-vehicle form').prop('action', '/zhidui/vehicle_refuse');
                $('.modify-vehicle form').submit();
                $('.refuse-content').hide();
                $('.modify-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 提交标记车辆表单
        $('.mark-vehicle .save').click(function () {
            let mark_reason = $('.mark-vehicle .my-modal-body select').eq(0).val();
            let mark_time = $('.mark-vehicle .my-modal-body input').eq(1).val().length;
            let mark_position = $('.mark-vehicle .my-modal-body input').eq(2).val().length;
            let mark_content = $('.mark-vehicle .my-modal-body textarea').eq(0).val().length;

            if (mark_reason == 61) {
                if (mark_time == 0) {
                    alert('请选择标记时间');
                    return false;
                }
                else if (mark_position == 0) {
                    alert('请填写违规地点');
                    return false;
                }
                else if (mark_content == 0) {
                    alert('请填写违规原因');
                    return false;
                }
                else if (confirm('是否标记该车辆')) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                if (mark_content == 0) {
                    alert('请填写违规原因');
                    return false;
                }
                else if (confirm('是否标记该车辆')) {
                    return true;
                }
                else {
                    return false;
                }
            }
        })

        // 提交车辆查询表单
        $('.search_input .find_btn').click(function() {
            $('.search_input form').submit();
        });

        // 显示导入车辆信息模态框
        $('.import-excel').click(function() {
            $('.pop-up1').show();
            $('.mask').show();
        });

        // 导入车辆提交
        $('.pop-up1 .btndiv button').click(function() {
            // 判断是否选择文件
            if ($('.pop-up1 .selFile input').val().length > 0) {
                $('.pop-up1 form').submit();
            } else {
                alert('请选择需要导入的文件');
            }
        });

        // 显示解冻车辆信息模态框
        $('.table_box .unlock-vehicle-info').click(function() {
            $('.unlock-vehicle').show();
            $('.mask').show();
        });

        // 隐藏解冻车辆模态框
        $('.unlock-vehicle .cancle').click(function() {
            if (confirm('是否取消解冻？')) {
                $('.unlock-vehicle').hide();
                $('.mask').hide();
            }
        });

        // 提交解冻车辆解冻申请
        $('.unlock-vehicle .save').click(function() {
            if (confirm('是否解冻改车辆？')) {
                $('.unlock-vehicle').hide();
                $('.mask').hide();
                $('.unlock-vehicle form').submit();
            }
        });
    });

    // 填充编辑车辆模态框信息
    function setVehicleInfo(vehicle_type, number, engine, owner, register_date, belong, vehicle_id, vehicle_status) {
        $('.modify-vehicle select').eq(1).val(vehicle_type);       // 车辆类型
        $('.modify-vehicle select').eq(2).val(belong);       // 车辆类型
        $('.modify-vehicle input').eq(0).val(number.replace("<br />",""));              // 号牌号码
        $('.modify-vehicle input').eq(1).val(engine.replace("<br />",""));              // 发动机型号
        $('.modify-vehicle input').eq(2).val(owner.replace("<br />",""));       // 车辆型号
        $('.modify-vehicle input').eq(3).val(register_date);     // 车辆注册日期
        $('.modify-vehicle input').last().val(vehicle_id);     // 车辆注册日期

        $('.my-modal-footer button').hide();
        $('.my-modal-footer button').eq(4).show();

        if (vehicle_status == '2') {
            $('.my-modal-footer button').eq(0).show();
            $('.my-modal-footer button').eq(1).show();
        } else if (vehicle_status == '3') {
            $('.my-modal-footer button').eq(3).show();
        } else if (vehicle_status == '5') {
            $('.my-modal-footer button').eq(2).show();
        }
    }

    // 填充编辑车辆模态框信息
    function setMarkInfo(vehicle_number, vehicle_id) {
        $('.mark-vehicle input').eq(0).val(vehicle_number.replace("<br />",""));              // 号牌号码
        $('.mark-vehicle input').last().val(vehicle_id);     // 车辆id

        $('.my-modal-footer button').show();
    }

    // 跳转到指定页面
    function jump() {
        $('#pageToolbar form').submit();
    }

    // 显示/隐藏违规时间地点信息
    function showIllegalInfo(isIllegal) {
        if (isIllegal == 61) {
            $('.mark-vehicle tr').eq(3).show();
            $('.mark-vehicle tr').eq(4).show();
        } else {
            $('.mark-vehicle tr').eq(4).hide();
            $('.mark-vehicle tr').eq(3).hide();
        }
    }

    // 填充编辑车辆模态框信息
    function setUnlockInfo(vehicle_number, vehicle_reason, unlock_content, unlock_file, vehicle_id) {

        $('.unlock-vehicle input').eq(0).val(vehicle_number);
        $('.unlock-vehicle input').eq(1).val(vehicle_reason);
        $('.unlock-vehicle input').last().val(vehicle_id);

        $('.unlock-vehicle textarea').eq(0).val(unlock_content);
        $('.unlock-vehicle .unlock-file a').attr('href', '/static/file/' + unlock_file);

        $('.unlock-vehicle button').show();
    }

</script>
</html>