{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript">
        // 设置转办模态框信息
        function setDeliverInfo(){
            $('#deliverModal .modal-body span').eq(1).text($('.deliver-dept :selected').text());
        }

        // 提交转办请求
        function submitDeliverInfo(status){
            var oForm = $('#info_data');

            if (status == 1){
                submitForm(oForm, 'GET', '/info/save_info');
            }
            else{
                submitForm(oForm, 'GET', '/info/delete_info');
            }
        }
    </script>
{% endblock %}

<!-- 操作窗口 -->
{% block operate %}
    <!-- 知识详情 -->
    <div class="deliver-content">
        <div class="bar"></div>
        <div class="title">
            <p>知识详情<p>
        </div>
        <div class="content">
            <form id="info_data">
                <table>
                    <tr>
                        <td><span>名称</span></td>
                        <td><input type="text" name="info_name" value="{{ info.info_name|default:'' }}" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span>内容摘要</span></td>
                        <td colspan="7">
                            <input type="text" name="info_abstract" value="{{ info.info_abstract|default:'' }}" />
                        </td>
                    </tr>
                    <tr>
                        <td><span>求助类型</span></td>
                        <td colspan="7">
                            <select name="cate1">
                                {% if request.session.cate1 == 0 %}
                                <option value="0" selected>全部</option>
                                {% else %}
                                <option value="0">全部</option>
                                {% endif %}
                                {% for cate in cate1_list %}
                                {% if info.cate1.id == cate.id %}
                                <option value="{{ cate.id }}" selected>{{ cate.name }}</option>
                                {% else %}
                                <option value="{{ cate.id }}">{{ cate.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <select name="cate2">
                                {% if request.session.cate2 == 0 %}
                                <option value="0" selected>全部</option>
                                {% else %}
                                <option value="0">全部</option>
                                {% endif %}
                                {% for cate in cate2_list %}
                                {% if info.cate2.id == cate.id %}
                                <option value="{{ cate.id }}" selected>{{ cate.name }}</option>
                                {% else %}
                                <option value="{{ cate.id }}">{{ cate.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% if request.session.cate2 == 0 %}
                            <select name="cate3" disabled>
                            {% else %}
                            <select name="cate3">
                            {% endif %}
                                {% if request.session.cate3 == 0 %}
                                <option value="0" selected>全部</option>
                                {% else %}
                                <option value="0">全部</option>
                                {% endif %}
                                {% for cate in cate3_list %}
                                {% if info.cate3.id == cate.id %}
                                <option value="{{ cate.id }}" selected>{{ cate.name }}</option>
                                {% else %}
                                <option value="{{ cate.id }}">{{ cate.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% if request.session.cate3 == 0 %}
                            <select name="cate4" disabled>
                            {% else %}
                            <select name="cate4">
                            {% endif %}
                                {% if request.session.cate4 == 0 %}
                                <option value="0" selected>全部</option>
                                {% else %}
                                <option value="0">全部</option>
                                {% endif %}
                                {% for cate in cate4_list %}
                                {% if info.cate4.id == cate.id %}
                                <option value="{{ cate.id }}" selected>{{ cate.name }}</option>
                                {% else %}
                                <option value="{{ cate.id }}">{{ cate.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><span>知识正文</span></td>
                        <td colspan="7">
                            <textarea name="info_content">{{ info.info_content|default:'' }}</textarea>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="id" value="{{ info.id }}" />
            </form>
        </div>
    </div>

    <div class="operation">
        <div class="search-btn-group">
            {% if can_delete == 1 and request.session.authority == 2 or request.session.authority == 1 %}
            <a class="btn btn-default" data-toggle="modal" data-target="#deleteModal" data-backdrop="static">删除</a>
            {% endif %}
            {% if can_save == 1 %}
            <a class="btn btn-default" data-toggle="modal" data-target="#saveModal" data-backdrop="static">保存</a>
            {% endif %}
            <a href="javascript: history.back(-1);" class="btn btn-default">返回</a>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <!-- 确认保存 -->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="saveModalLabel">确认保存</h4>
                </div>
                <div class="modal-body">
                    <p><span>是否保存该新增知识?</span></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" onclick="submitDeliverInfo(1)">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 确认删除 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="deleteModalLabel">确认删除</h4>
                </div>
                <div class="modal-body">
                    <p>是否删除该知识?</span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="submitDeliverInfo(0)">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}
