<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(function() {
            // 鼠标点击用户名输入框时, 清除用户名三个字
            $('.username').focus(function() {
                $('#label01').hide();
            });
            // 输入的字符后, 保留输入的字符
            $('.username').blur(function() {
                if ($(this).val().length < 1) {
                    $('#label01').show();
                } else {
                    $('#label01').hide();
                }
            });

            // 鼠标点击密码输入框时, 清除密码两个字
            $('.password').focus(function() {
                $('#label02').hide();
            });
            // 输入的字符后, 保留输入的字符
            $('.password').blur(function() {
                if ($(this).val().length < 1) {
                   $('#label02').show();
                } else {
                    $('#label02').hide();
                }
            });

            // 页面刷新后, 掉用函数检测输入框中是否有内容
            $('.username').blur();
            $('.password').blur();
        });

        // 表单提交验证, 用户名和密码都不为空时允许提交
        function loginCheck() {
            if (($('#username').val().length < 1) || ($('#password').val().length < 1)) {
                $('#alarm01').show();
                return false;
            } else {
                return true;
            }
        }
    </script>
    <title>登陆</title>
</head>
<body>
    <div class="main">
        <img src="/static/image/mark1.png" alt="警徽" class="img01" />
        <img src="/static/image/mark2.png" alt="8890" class="img02" />
        <p>天津市公安交通管理局便民专线服务平台</p>
        <form action="/user/login/" method="post" onsubmit="return loginCheck()">
            {%csrf_token%}
            <label for="username" id="label01">用户名{{result}}</label>
            <input type="text" name="username" class="username" id="username" value="{{username|default:''}}"/>
            <label for="password" id="label02">密&nbsp&nbsp&nbsp码</label>
            <input type="password" name="password" class="password" id="password" value="{{password|default:''}}"/>
            <input type="submit" value="登   录" class="submit" />
            {%if login_error%}
            <div>
                <img src="/static/image/exclamation.png" alt="感叹号" />
                <p>用户名或密码错误</p>
            </div>
            {%endif%}
            <div id="alarm01" hidden>
                <img src="/static/image/exclamation.png" alt="感叹号" />
                <p>用户名和密码不能为空</p>
            </div>
        </form>
    </div>
</body>
</html>